@import "../../../../styles-variables";

.container {
  .content {
    margin-top: 14px;

    table {
      width: 100%;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }
}
