$st-primary: mat-palette($mat-cyan, 900, 600, 900);
$st-accent: mat-palette($mat-cyan, 800, 100, 800);
$st-warn: mat-palette($mat-pink, 600);

$st-theme: mat-light-theme($st-primary, $st-accent, $st-warn);
